<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-5 col-sm-7 col-sm-12 about">
                    <div class="footer-col-inner">
                        <h3 class="title">About Us</h3>
                        <p>
                        Codedry is a Software Development Consultancy specializing in Ruby on Rails Web Development.
                        We believe in using the best tools possible to complete the job.
                        The principle of coding DRY (Don't Repeat Yourself) is the central theme behind how we work.
                        </p>
                        <p><a class="more" href="#contactus">Learn more <%= fa_icon "long-arrow-right" %></a></p>

                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-4 col-md-offset-1 links">
                    <div class="footer-col-inner">
                        <h3 class="title">Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="http://blog.codedry.com"><%= fa_icon "caret-right" %>Blog</a></li>
                            <li><a href="#"><%= fa_icon "caret-right" %>Press</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3 class="title">Get in touch</h3>
                        <div class="row">
                            <!-- <p class="tel col-md-12 col-sm-4"><%= fa_icon "phone" %>0800 123 4567</p> -->
                            <p class="email col-md-12 col-sm-4"><%= fa_icon "envelope" %><%= render 'shared/contact_email_link' %></p>
                            <!-- <p class="email col-md-12 col-sm-4"><%= fa_icon "comment" %><a href="#">Live Chat</a></p> -->
                        </div>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
              <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright &copy; <%= Time.now.year %> Codedry. All Rights Reserved.</small>
                <ul class="social col-md-6 col-sm-6 col-xs-12 list-inline">
                    <li><a href="https://twitter.com/codedry" ><%= fa_icon "twitter" %></a></li>
                    <!-- <li><a href="#" ><%= fa_icon "facebook" %></a></li> -->
                    <li><a href="https://www.linkedin.com/company/codedry" ><%= fa_icon "linkedin" %></a></li>
                    <!-- <li class="last"><a href="#" ><%= fa_icon "youtube" %></a></li> -->
                </ul><!--//social-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
