<section id="contactus" class="contact-main section">
  <div class="container text-center">
    <h2 class="title">Get in touch</h2>
    <p class="intro">We'd love to hear from you.</p>

    <div class="row">
      <div class="item col-md-4 col-sm-12 col-xs-12">
        <div class="item-inner">
          <div class="icon"><%= fa_icon "envelope" %></div>
          <div class="details">
            <h4>Email us:</h4>
            <p><%= render 'shared/contact_email_link' %></p>
          </div>
        </div>
      </div>

      <div class="item col-md-4 col-sm-12 col-xs-12">
        <div class="item-inner">
          <div class="icon"><%= fa_icon "twitter" %></div>
          <div class="details">
            <h4>Follow us:</h4>
            <p><%= link_to "@codedry", "https://twitter.com/codedry", target: "_blank" %></p>
          </div>
        </div>
      </div>

      <div class="item col-md-4 col-sm-12 col-xs-12 last">
        <div class="item-inner">
          <div class="icon"><%= fa_icon "linkedin" %></div>
          <div class="details">
            <h4>Connect with us:</h4>
            <p><%= link_to "Codedry", "https://www.linkedin.com/company/codedry", target: "_blank" %></p>
          </div>
        </div>
      </div>

    </div><!--//row-->
  </div><!--//container-->
</section>

<section class="container contact-form-section">
  <h3 class="title text-center">Contact Form</h3>
  <p class="intro text-center">Send us a message to tell us about your project or training needs</p>
  <div id="contact-form" class="row">
    <%= render "contacts/form" %>
  </div>
</section>
