<section id="contactus" class="contact-main section">
  <div class="container text-center">
    <h2 class="title">Get in touch</h2>
    <p class="intro">We'd love to hear from you.</p>

    <div class="row">
      <%= render layout: 'contacts/item', locals: { title: "Email us:", icon_name: "envelope" } do %>
        <%= render 'shared/contact_email_link' %>
      <% end %>

      <%= render layout: 'contacts/item', locals: { title: "Follow us:", icon_name: "twitter" } do %>
        <%= link_to "@codedry", "https://twitter.com/codedry", target: "_blank" %>
      <% end %>

      <%= render layout: 'contacts/item', locals: { title: "Connect with us:", icon_name: "linkedin" } do %>
        <%= link_to "Codedry", "https://www.linkedin.com/company/codedry", target: "_blank" %>
      <% end %>

    </div>
  </div>
</section>

<section class="container contact-form-section">
  <h3 class="title text-center">Contact Form</h3>
  <p class="intro text-center">Send us a message to tell us about your project or training needs</p>
  <div id="contact-form" class="row">
    <%= render "contacts/form" %>
  </div>
</section>
