<!-- ******WHY****** -->
<section id="why" class="why section">
    <div class="container">
        <h2 class="title text-center">Why Use Tempo</h2>
        <p class="intro text-center">More than 300,000 happy customers are using Tempo around the world</p>
        <div class="row">
            <div class="benefits col-md-7 col-sm-6 col-xs-12">

                <div class="item clearfix">
                    <div class="icon col-md-3 col-xs-12 text-center">
                      <%= fa_icon "paper-plane" %>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Brings you consectetuer adipiscing elit</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                      <%= fa_icon "cloud-upload" %>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">No more velit tristique condimentum</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                      <%= fa_icon "users" %>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Connect lectus ultricies dolor vulputate</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                      <%= fa_icon "dashboard" %>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Liberate vulputate eleifend tellus</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. Cras pharetra turpis pharetra iaculis euismod.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item last clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                      <%= fa_icon "history" %>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Helps laoreet auctor libero</h3>
                        <p class="desc">State a benefit of your product/services here. You can change the icon on the left to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. Maecenas ultrices pellentesque nisi, eu volutpat nunc. Pellentesque fermentum purus nec mi vulputate interdum. Ut eu vulputate mi, nec imperdiet enim. Ut faucibus faucibus turpis et luctus. Quisque bibendum tristique purus eu pulvinar. Cras pharetra turpis pharetra iaculis euismod. Nullam ac ullamcorper turpis, quis tristique dui.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix"></div>
                <div class="text-center">
                    <a class="btn btn-cta btn-cta-secondary" href="tour.html" >Learn how it works</a>
                </div>
            </div>
            <div class="testimonials col-md-4 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <div class="item">
                    <div class="quote-box">
                        <blockquote class="quote">Love it! vehicula consequat cursus. Morbi bibendum cursus urna, quis rhoncus arcu. Curabitur vel sollicitudin leo.
                        </blockquote><!--//quote-->
                        <p class="details">
                            <span class="name">Steven Turner</span>
                            <span class="title">Bristol, UK</span>
                        </p>
                        <%= fa_icon "quote-right" %>
                    </div><!--//quote-box-->
                    <div class="people text-center">
                        <%= image_tag "people/people-1.png", class: "img-rounded user-pic" %>
                    </div><!--//people-->
                </div><!--//item-->
                <div class="item">
                    <div class="quote-box">
                        <blockquote class="quote">Great vehicula consequat cursus. Pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim!

                        </blockquote><!--//quote-->
                        <p class="details">
                            <span class="name">Michelle Cheung</span>
                            <span class="title">San Francisco, US</span>
                        </p>
                        <%= fa_icon "quote-right" %>
                    </div><!--//quote-box-->
                    <div class="people text-center">
                        <%= image_tag "people/people-2.png", class: "img-rounded user-pic" %>
                    </div><!--//people-->
                </div><!--//item-->
                <div class="item last">
                    <div class="quote-box">
                        <blockquote class="quote">Excellent Vivamus sit amet tortor id orci interdum tempor sed sit amet ante, pretium quis, sem. Nulla consequat massa quis enim!
                        </blockquote><!--//quote-->
                        <p class="details">
                            <span class="name">James Lee</span>
                            <span class="title">London, UK</span>
                        </p>
                        <%= fa_icon "quote-right" %>
                    </div><!--//quote-box-->
                    <div class="people text-center">
                        <%= image_tag "people/people-3.png", class: "img-rounded user-pic" %>
                    </div><!--//people-->
                </div><!--//item-->
            </div>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//why-->
