<div class="wrapper">

  <%= render 'header' %>
  <%= render 'promo' %>
  <%= render 'press' %>
  <%= render 'why' %>
  <%= render 'video' %>
  <%= render 'faq' %>
  <%= render 'contact_us' %>

</div><!--//wrapper-->

<%= render 'footer' %>
