<%= form_for(@contact, remote: true, html: { class: 'signup-form' }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h3>Oops... <%= pluralize(@contact.errors.count, "error") %> prevented us from saving your message: </h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    <%= f.text_area :message, class: 'form-control', placeholder: 'Message' %>
    <%= f.submit 'Send Message', class: 'btn btn-cta btn-cta-primary' %>
  </div>

<% end %>
